@{
    ViewBag.Title = "About";
}


<header>
    <div class="container">
        <div class="row">
            <img class="col-md-12 img-responsive" src="~/Content/images/Subway_Logo_CUT.png" />
        </div>
    </div>
</header>

<div class="container">
    <section class="main row"></section>

    <form action="" class="form-horizontal " method="get">
        <div id="frmGroupNombres" class="form-group">
            <label for="nombres" class="control-label col-md-2">Nombres:</label>
            <div class="col-md-10">
                <input id="nombres" class="form-control" type="text" name="nombres">
            </div>
        </div>

        <div id="frmGroupTelefono" class="form-group">
            <label for="telefono" class="control-label col-md-2">Telefono:</label>
            <div class="col-md-10">
                <input id="telefono" class="form-control" type="text" name="telefono">
            </div>
        </div>

        <div id="frmGroupEmail" class="form-group">
            <label for="email" class="control-label col-md-2">Email:</label>
            <div class="col-md-10">
                <input id="email" class="form-control" type="email" name="email">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 col-md-offset-2">
                <button type="button" class="btn btn-primary" onclick="AsyncProcess(event)">Enviar</button>
            </div>
        </div>
    </form>
</div>

<div id="contentContainer"></div>

<script type="text/javascript" language="javascript">

    function AsyncProcess(e) {

        var procesoData = {
            'items': [
        { nombre: 'uno', edad: 1 },
        { nombre: 'dos', edad: 2 },
        { nombre: 'tres', edad: 3 }
            ]
        };

        $.ajax({
            type: "POST",
            data: procesoData,
            url: '@Url.Action("AsyncProcessP", "Home")',
            dataType: "html",
            success: function (result) {
                var divContainer = document.getElementById("contentContainer");
                divContainer.innerHTML = result;
            },
            error: function () { alert('A error'); }
        });
    }

</script>