@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="container">
        <div class="row">
            <img class="col-md-12 img-responsive" src="~/Content/images/Subway_Logo_CUT.png" />
        </div>
    </div>
</header>

<div class="container">
    <section class="main row"></section>

    <form action="" class="form-horizontal " method="get">

        <div id="frmGroupNombres" class="form-group ">
            <label for="nombres" class="control-label col-md-2">Nombres:</label>
            <div class="col-md-10">
                <input id="nombres" class="form-control" maxlength="20" type="text" name="nombres">
            </div>
        </div>

        <div id="frmGroupTelefono" class="form-group">
            <label for="telefono" class="control-label col-md-2">Telefono:</label>
            <div class="col-md-10">
                <input id="telefono" class="form-control" type="text" maxlength="50" name="telefono">
            </div>
        </div>

        <div id="frmGroupEmail" class="form-group">
            <label for="email" class="control-label col-md-2">Email:</label>
            <div class="col-md-10">
                <input id="email" class="form-control" type="email" maxlength="50" name="email">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 col-md-offset-2">
                <button type="button" class="btn btn-primary" onclick="AsyncProcess(event)">Enviar</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div id="contentContainer">

    </div>
</div>

<script type="text/javascript" language="javascript">

    function AsyncProcess(e) {

        
        var nombres = document.getElementById("nombres");
        var telefono = document.getElementById("telefono");
        var email = document.getElementById("email");
        
        var validaciones = true;

        if (!validarNombre(nombres))
        {
            validaciones = false;
        }

        if(!validarTelefono(telefono))
        {
            validaciones= false;
        }

        if (!validarEmail(email))
        {
            validaciones=false;
        }

        if (!validaciones)
            return false;


        var procesoData = {
            'items': [
        { nombre: 'uno', edad: 1 },
        { nombre: 'dos', edad: 2 },
        { nombre: 'tres', edad: 3 }
            ]
        };

        $.ajax({
            type: "POST",
            data: procesoData,
            url: '@Url.Action("AsyncProcessP", "Home")',
            dataType: "html",
            success: function (result) {
                var divContainer = document.getElementById("contentContainer");
                divContainer.innerHTML = result;
            },
            error: function () { alert('A error'); }
        });
    }

    function  validarNombre(nombres)
    {
        var spanElementHelpIcon = document.getElementById("helpIconNombres");
        if (spanElementHelpIcon != null)
            nombres.parentElement.removeChild(spanElementHelpIcon)

        if (nombres.value == "") {
            nombres.parentElement.parentElement.setAttribute("class", "form-group has-error has-feedback");
            var spanElement = document.createElement("span");
            spanElement.setAttribute("aria-hidden", "true");
            spanElement.setAttribute("id", "helpIconNombres");
            spanElement.setAttribute("class", "glyphicon glyphicon-remove form-control-feedback");
            nombres.parentElement.appendChild(spanElement);
            return false;
        }
        else {
            nombres.parentElement.parentElement.setAttribute("class", "form-group has-success has-feedback");
            var spanElement = document.createElement("span");
            spanElement.setAttribute("aria-hidden", "true");
            spanElement.setAttribute("id", "helpIconNombres");
            spanElement.setAttribute("class", "glyphicon glyphicon-ok form-control-feedback");
            nombres.parentElement.appendChild(spanElement);
            return true;
        }
    }

    function validarTelefono(telefono) {
        var spanElementHelpIcon = document.getElementById("helpIconTelefono");
        if (spanElementHelpIcon != null)
            telefono.parentElement.removeChild(spanElementHelpIcon)

        if (telefono.value == "") {
            telefono.parentElement.parentElement.setAttribute("class", "form-group has-error has-feedback");
            var spanElement = document.createElement("span");
            spanElement.setAttribute("aria-hidden", "true");
            spanElement.setAttribute("id", "helpIconTelefono");
            spanElement.setAttribute("class", "glyphicon glyphicon-remove form-control-feedback");
            telefono.parentElement.appendChild(spanElement);
            return false;
        }
        else {
            telefono.parentElement.parentElement.setAttribute("class", "form-group has-success has-feedback");
            var spanElement = document.createElement("span");
            spanElement.setAttribute("aria-hidden", "true");
            spanElement.setAttribute("id", "helpIconTelefono");
            spanElement.setAttribute("class", "glyphicon glyphicon-ok form-control-feedback");
            telefono.parentElement.appendChild(spanElement);
            return true;
        }
    }

    function validarEmail(email) {
        var spanElementHelpIcon = document.getElementById("helpIconEmail");
        if (spanElementHelpIcon != null)
            email.parentElement.removeChild(spanElementHelpIcon)

        if (email.value == "") {
            email.parentElement.parentElement.setAttribute("class", "form-group has-error has-feedback");
            var spanElement = document.createElement("span");
            spanElement.setAttribute("aria-hidden", "true");
            spanElement.setAttribute("id", "helpIconEmail");
            spanElement.setAttribute("class", "glyphicon glyphicon-remove form-control-feedback");
            email.parentElement.appendChild(spanElement);
            return false;
        }
        else {
            email.parentElement.parentElement.setAttribute("class", "form-group has-success has-feedback");
            var spanElement = document.createElement("span");
            spanElement.setAttribute("aria-hidden", "true");
            spanElement.setAttribute("id", "helpIconEmail");
            spanElement.setAttribute("class", "glyphicon glyphicon-ok form-control-feedback");
            email.parentElement.appendChild(spanElement);
            return true;
        }
    }

    window.onload = function () {
        document.getElementById("nombres").focus();
    };

</script>